@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bonheur Royale', cursive;
  margin: 0;
  min-height: 100vh;
  background-color: aquamarine;
}

.heart {
  position: fixed;
  top: -1vh;
  font-size: 2rem;
  animation: fall 3s linear forwards;
}

@keyframes fall {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(105vh);
  }
}